<script src="/js/product/productPage.js"></script>

<div id="product-name">{{name}}<span id="close-x"><img
        src="/img/product/close-panel.png"></span></div>
<div id="ratings-container">
<span class="left-float"><img src="{{ratingUrl}}"/> </span><span id="review-links" class="left-float">&nbsp;&nbsp;109 Reviews  |  <a
        href="#">Write a Review</a>  | <a href="#">Ask a Question</a></span>
</div>
<div id="product-price">${{price}}</div>
<div id="product-image">
<!--<div id="hero-image" class="left-float">-->
    <div id="itemCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            {{#each altImages}}
            {{#equal @index 0 }}
            <div class="active item"><img src="{{lgImageSrc}}"/></div>
            {{else}}
            <div class="item"><img src="{{lgImageSrc}}"/></div>
            {{/equal}}
            {{/each}}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#itemCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#itemCarousel" data-slide="next">&rsaquo;</a>
        <!--progress-->
        <ol class="carousel-indicators">
            {{#each altImages}}
            {{#equal @index 0 }}
            <li data-target="#itemCarousel" data-slide-to='{{@index}}' class="active"><img src="/img/product/current-position.png"/></li>
            {{else}}
            <li data-target="#itemCarousel" data-slide-to='{{@index}}'><img src="/img/product/greydot.png" /></li>
            {{/equal}}
            {{/each}}
        </ol>
    </div>
<!--</div>-->
</div>




