

<div id="ratings-rev-title">
    Reviews & Ratings <span style="color: #3078b9;">({{length ratingsReviewsItems}} Total)</span> <a href="#" class="write-review-btn">Write a Review</a>
</div>
<div id="review-dropdowns-container">
<span class="ratings-dropdowns left-float">
                    <div class="left-float">
                        <select id="reveiwers">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="Men">Men</option>
                            <option value="Women">Women</option>
                            <option value="Children">Children</option>
                            <option value="Animals">Animals</option>
                            <option value="Minerals">Minerals</option>
                            <option value="Vegetables">Vegetables</option>
                        </select>
                    </div>
            </span>
        <span class="ratings-dropdowns left-float">
                    <div class="left-float">
                        <select id="ages">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="25">25 - 34</option>
                            <option value="35">35 - 44</option>
                            <option value="45">45 - 54</option>
                            <option value="55">55 - 64</option>
                            <option value="65">65+</option>
                        </select>
                    </div>
        </span>
        <span class="ratings-dropdowns-border left-float">
                    <div class="left-float">
                        <select id="ratings">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="All">All Ratings</option>
                            <option value="5">5 star</option>
                            <option value="4">4 star</option>
                            <option value="3">3 star</option>
                            <option value="2">2 star</option>
                            <option value="1">1 star</option>
                        </select>
                    </div>
        </span>
        <span class="ratings-dropdowns" style="float: right">
                    <div>
                        <select id="helpful">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="MostHelpful">Most Helpful</option>
                            <option value="Oldest">Oldest to Newest</option>
                            <option value="Newest">Newest to Oldest</option>
                        </select>
                    </div>
        </span>
</div>


<div id="reviews-container">
<div id="selected-review-container">
    <div id="reviewCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            {{#each ratingsReviewsItems}}
            {{#equal @index 0 }}
                <div class="rev-car active item" indexid="{{indexCount @index}}">
            {{else}}
                <div class="rev-car item" indexid="{{indexCount @index}}">
             {{/equal}}
                    <div class="selected-review">
                        <div class="selected-review-title">{{title}}</div>
                        <br/>
                        <div style="font-family: 'Sintony',sans-serif;font-size:15px;color:color: #777777;">by <span style="color: #3078b9;">{{customer}}</span> on {{date}} {{#if isVerified}} is Verified{{/if}}</div>
                        <div><span class="stars">{{rating}}</span></div><br/><br/>
                        <div>{{rawText review 200}}...<span style="color: #3078b9;"> Read more</span></div>
                    </div>
                    <div class="separator"></div>
                    <div class="review-attributes-left-col left-float">
                        <dl class="dl-horizontal">
                            <dt>Value:</dt>
                            <dd><span class="stars">{{value}}</span></dd>
                            <dt>Meets Expectations:</dt>
                            <dd><span class="stars">{{meetsexpectations}}</span></dd>
                            <dt>Picture Quality:</dt>
                            <dd><span class="stars">{{picturequality}}</span></dd>
                            <dt>Sound Quality:</dt>
                            <dd><span class="stars">{{soundquality}}</span></dd>
                            <dt>Features:</dt>
                            <dd><span class="stars">{{features}}</span></dd>
                        </dl>
                    </div>
                    <div class="review-attributes-right-col left-float">
                        <dl class="dl-horizontal">
                            <dt>Age:</dt>
                            <dd>{{age}}</dd>
                            <dt>Gender:</dt>
                            <dd>{{gender}}</dd>
                            <dt>Ownership:</dt>
                            <dd>{{ownership}}</dd>
                            <dt>Usage:</dt>
                            <dd>{{ownership}}</dd>
                            <dt>City:</dt>
                            <dd>{{city}}</dd>
                            <dt>Helpful Votes:</dt>
                            <dd>{{helpfulvotes}}</dd>
                        </dl>
                    </div>
                <!--carousel-inner closing div    -->
                </div>
            {{/each}}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#reviewCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#reviewCarousel" data-slide="next">&rsaquo;</a>

        </div>
    </div>
    <div id="reviews-count-container" class="left-float">1 of {{length ratingsReviewsItems}} reviews</div>
    <!--1 of {{length ratingsReviewsItems}} reviews-->
</div>

<script>

    reviewCount = function (){
        var index = $(".rev-car.item.active").attr("indexid");
        var count = Number(index);
        $('#reviews-count-container').text(count +" of {{length ratingsReviewsItems}} Reviews");
    };

    $('#reviewCarousel').bind('slid', function() {
        reviewCount();
    })

</script>